.rpv-toolbar__right {
  display: none !important;
}

.rpv-core__icon {
  width: auto;
  height: 24px;
}

.pdf-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.watermark {
  position: absolute;
  left: 55%;
  transform: translate(-50%, -50%) rotate(-30deg);
  font-size: 36px;
  color: rgba(200, 200, 200, 0.4);
  pointer-events: none;
  white-space: nowrap;
  user-select: none;
}

.rpv-toolbar {
  width: 90%;
}

.rpv-toolbar__item .rpv-page-navigation__current-page-input,
.rpv-toolbar__label {
  display: none
}

;

.rpv-toolbar__center,
.rpv-toolbar__left {
  display: flex;
  justify-content: left !important;
}