.video-container {
    position: fixed;
    width: 100%;
    aspect-ratio: 16/9;
    height: 80%;
};

.scan-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 1;
};

.scan-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: rgb(220, 2, 2);
    animation: scan-move 2s linear infinite;
};

@keyframes scan-move {
    0% {
        top: 0%;
    }

    100% {
        top: 100%;
    }
};