/* .pdfh5 {
    touch-action: pan-y pinch-zoom;
} */


body {
    margin: 0;
    font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}